@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #060b4b;
  --primary-color: #ffffff;
  --secondary-color: #a30000;
  --primary-shadow: #000000;
  --secondary-shadow: #ffffff;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* NAV BAR */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* HERO */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
  margin-top: 5px;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  font-size: 24px;
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* MORE ABOUT */

.more-about {
  margin-top: 5px;
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  color: var(--primary-color);
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  color: #ffffff;
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* SKILLS */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* PROJECTS */

.projects {
  background-color: white;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 36px;
  background-color: #ffffff;
  color: var(--bg-color);
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* SOCIALS */

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

/* FOOTER */

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.main-screen-img{
  width: 100%;
  margin-top: 1px;
}

.main-page-image{
  text-align: center;
  font-size: 24px;
}

/* PROJECTS */

.project-desc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  padding-bottom: 10px;
}

.project-desc p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



/* RESUME AND SOCIALS */

/* Center the contact section */
#contact {
  text-align: center;
}

#contact h1 {
  font-size: 36px;
  background-color: #ffffff;
  color: var(--bg-color);
}

/* Style the social buttons */
.social-buttons {
  margin-top: 20px; /* Adjust the margin as needed */
}

.social-button-container {
  display: inline-block;
  margin: 0 10px; /* Adjust margin for spacing between buttons */
}

.social-button {
  display: inline-block;
  padding: 8px 16px; /* Adjust padding for the button size */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.social-button img {
  max-width: 100%; /* Set a maximum width for the images */
  height: auto; /* Maintain the aspect ratio */
}

.social-button:hover {
  background-color: #253159; /* Set background color on hover (adjust as needed) */
}

/* Center the resume button */
.resume-button {
  margin-top: 20px; /* Adjust the margin as needed */
}

.resume-button .social-button-container.resume {
  display: block;
  margin: 20px auto; /* Adjust the margin for spacing and centering */
}

.resume-button .social-button-container.resume .social-button {
  padding: 10px 20px; /* Adjust padding for the resume button size */
  background-color: #060b4b;
}

/* Courses */

.courses {
  background-color: white;
  padding: 32px 0;
  margin-top: 2rem;
}

.course-pic {
  width: 65%;
  height: 60%;
}

.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow the items to wrap as needed */
}

.courses-title {
  text-align: center;
  margin-bottom: 1rem;
  background-color: #060b4b;
  color: var(--primary-color);
}

.course-container {
  text-align: center;
  width: calc(100% / 3 - 20px); /* Divide by the number of items per row and subtract the total margin */
  padding: 1rem;
  margin: 10px; /* Add some margin to each item */
  /* text-align: center;
  width: 21.875rem;
  padding: 1rem; */
}

.course-container p {
  padding: 0.4rem;
}

.course-title {
  margin-bottom: var(--bottom-margin);
}

.course-details {
  margin-bottom: var(--bottom-margin);
}

.course-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.see-more-text {
  color: #0099ff;
}

/* 3D Models Page */

.front-image {
  display: grid;
  width: 80%; /* Adjust as needed */
  margin-left: auto;
  margin-right: auto;
  justify-content: center; /* Center the grid items horizontally */
  margin-bottom: 50px;
}

.front-image img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: 800px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images fill the fixed height without distortion */
}

.models-lrg-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#img-change {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
}

#img-change-alien {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
}

.grid-container-img {
  display: grid;
  width: 80%; /* Adjust as needed */
  /*height: 500px; /* Fixed height for the grid container */
  margin: 0 auto; /* Center the grid horizontally */
  justify-content: center; /* Center the grid items horizontally */
  margin-bottom: 50px;
}

.grid-container-img img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: 500px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images fill the fixed height without distortion */
}

.sub-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
  background-color: #ffffff;
  color: var(--bg-color);
}